.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #00ff08;
}

.task-input {
  margin-bottom: 20px;
}

.task-input input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-input button {
  padding: 10px 15px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-input button:hover {
  background-color: #0056b3;
}

.task-list {
  list-style-type: none;
  color: #000;
  padding: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #00ff08;
  border: 1px solid black;
  border-radius: 4px;
}

.task-list li.completed span {
  text-decoration: line-through;
  color: #0056b3;
}

.task-list li button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #dc3545;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-list li button:hover {
  background-color: #c82333;
}

.edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00ff08;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.edit-modal h2 {
  margin-bottom: 20px;
  color: black;
}

.edit-modal input,
.edit-modal textarea,
.edit-modal select {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-modal button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-modal button:hover {
  opacity: 0.8;
}
